* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#catsParent {
  width: 150px;
  font-family: "Inter", sans-serif;
}

#CatsContainer {}

#CatsContainer select {
  width: 100%;
  padding: 5px 10px !important;
  border-radius: 20px;
  border: 3px solid black;
  background-color: white;
  color: black;
  transition: 0.3s;
}

#CatsContainer select:hover {
  cursor: pointer;
  border: 3px solid #bb86fc;
  scale: 1.1;
}