.randomImgContainer {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .randomImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }